<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.data.collect.dao.RequestLogDao">
    <resultMap id="requestLogMap" type="com.iwhalecloud.data.collect.domain.RequestLog">
        <id column="request_id" property="requestId" jdbcType="BIGINT" />
        <result column="request_method_name" property="requestMethodName" jdbcType="VARCHAR" />
        <result column="request_data" property="requestData" jdbcType="VARCHAR" />
        <result column="log_time" property="logTime" jdbcType="DATE" />
    </resultMap>
    <insert id="insertRecord"
            parameterType="com.iwhalecloud.data.collect.domain.RequestLog" >
        INSERT INTO request_log
            (request_method_name, request_data, log_time)
        VALUES
            (#{requestLog.requestMethodName}, #{requestLog.requestData}, #{requestLog.logTime})
    </insert>
</mapper>