<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.data.collect.dao.SegStationInfoDao">

    <resultMap id="BaseResultMap" type="com.iwhalecloud.data.collect.domain.SegStationInfo">
            <result property="stationId" column="station_id" jdbcType="VARCHAR"/>
            <result property="stationName" column="station_name" jdbcType="VARCHAR"/>
            <result property="segmentId" column="segment_id" jdbcType="INTEGER"/>
            <result property="longitude" column="longitude" jdbcType="DECIMAL"/>
            <result property="latitude" column="latitude" jdbcType="DECIMAL"/>
            <result property="stationMemo" column="station_memo" jdbcType="VARCHAR"/>
            <result property="speed" column="speed" jdbcType="VARCHAR"/>
            <result property="dualSerial" column="dual_serial" jdbcType="INTEGER"/>
            <result property="sngserialId" column="sngserial_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        station_id,station_name,segment_id,
        longitude,latitude,
        station_memo,speed,dual_serial,
        sngserial_id
    </sql>
    <insert id="insertRecord" parameterType="com.iwhalecloud.data.collect.domain.SegStationInfo">
        INSERT INTO seg_station_info
        (<include refid="Base_Column_List"></include>)
        VALUES( #{item.stationId},
        #{item.stationName},
        #{item.segmentId},
        #{item.longitude},
        #{item.latitude},
        #{item.stationMemo},
        #{item.speed},
        #{item.dualSerial},
        #{item.sngserialId}
        )
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO seg_station_info
        (<include refid="Base_Column_List"></include>)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.stationId},
            #{item.stationName},
            #{item.segmentId},
            #{item.longitude},
            #{item.latitude},
            #{item.stationMemo},
            #{item.speed},
            #{item.dualSerial},
            #{item.sngserialId}
            )
        </foreach>
    </insert>
    <insert id="batchInsertStation" parameterType="java.util.List">
        INSERT INTO station_route_correlation
        (route_id,segment_id,station_id,station_sort,station_no)
        VALUES
        <foreach collection="listItm" item="item" index="index" separator=",">
            (
            #{item.routeId},
            #{item.segmentId},
            #{item.stationId},
            #{item.stationSort},
            #{item.stationNo}
            )
        </foreach>
    </insert>

    <select id="selectCheckStation"  resultType="int">
        select count(*) from seg_station_info
    </select>
    <delete id="batchDelete">
        delete from seg_station_info
    </delete>
    <delete id="batchDeleteCt">
        delete from station_route_correlation
    </delete>
</mapper>
